<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.waitwind" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    
    <!-- umeng -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- umeng -->
    

    <application
        android:name="com.waitwind.common.PgyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 自动更新下载完成广播 -->
        <receiver android:name="com.waitwind.utils.AutoUpdateBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
            </intent-filter>
        </receiver>
        
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="2487c827b3535b8d34b0adb8220779f9" />
        
        <!-- 高德定位服务 -->
    	<service android:name="com.amap.api.location.APSService" />
        
        <activity
            android:name="com.waitwind.activity.WelcomeActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.waitwind.activity.GuideActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.waitwind.activity.MainActivity"
            android:screenOrientation="nosensor"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />
        
        <activity 
            android:name="com.waitwind.activity.WeatherActivity"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.waitwind.activity.CameraAqiActivity"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.waitwind.activity.RankActivity"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.waitwind.activity.AboutActivity"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.waitwind.activity.WebViewActivity"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.waitwind.activity.FeedBackActivity"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.waitwind.activity.CitySearchActivity"
            android:screenOrientation="portrait" />
        
        
        <!-- umeng -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58c250dcc62dca0675000c71" />

        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- QQ -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105801723" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- umeng -->
        
    </application>

</manifest>
